.name {
  border-radius: 55px;
  background-color: rgb(8, 209, 149);
  width: 75%;
  height: 29px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(41, 41, 41);
  border: none;
}
.type {
  border-radius: 55px;
  background-color: rgb(8, 209, 149);
  width: 75%;
  height: 29px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(41, 41, 41);
  border: none;
}
.price {
  border-radius: 55px;
  background-color: rgb(8, 209, 149);
  width: 75%;
  height: 29px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(41, 41, 41);
  border: none;
}
.desc {
  border-radius: 55px;
  background-color: rgb(8, 209, 149);
  width: 75%;
  height: 29px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(41, 41, 41);
  border: none;
}
.picture {
  border-radius: 55px;
  background-color: rgb(8, 209, 149);
  width: 75%;
  height: 29px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(41, 41, 41);
  border: none;
}
.btn-4 {
  border-radius: 55px;
  height: 35px;
  width: 150px;
  background-color: rgb(8, 209, 149);
  margin-top: 16px;
  margin-left: 120px;
  font-size: 18px;
}

.h2 {
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.container-4 {
  width: 400px;
  height: 400px;
  background-color: rgb(51, 52, 51);
}
.inputs {
  margin-left: 55px;
}
